<footer class="h-full flex flex-col">

  <div class="flex justify-center">
    <app-button href="/assets/resume.pdf">
      Download Full Resume
    </app-button>
  </div>

  <div class="flex-1 flex items-center justify-center">
    
    <div class="flex items-center gap-8">

      <a 
        href="https://github.com/Safetyon9"
        target="_blank"
        rel="noopener noreferrer"
        class="text-[#A3A3A3] hover:text-accent transition-colors duration-300"
        aria-label="Github"
      >
        <app-badge name="github" />
      </a>

      <a 
        href="https://www.instagram.com/_vincenzo_r/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-[#A3A3A3] hover:text-accent transition-colors duration-300"
        aria-label="Instagram"
      >
        <app-badge name="instagram" />
      </a>

      <a 
        href="https://www.linkedin.com/in/vincenzorusso-dev/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-[#A3A3A3] hover:text-accent transition-colors duration-300"
        aria-label="Linkedin"
      >
        <app-badge name="linkedin" />
      </a>

    </div>

  </div>

</footer>