<nav class="flex flex-col gap-8">

  <button
    (click)="scrollTo('about')"
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
    [style.color]="sectionService.activeSection() === 'about' ? '#E85D04' : null"
    [class.translate-x-2]="sectionService.activeSection() === 'about'"
  >
    ABOUT
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>


  <button
    (click)="scrollTo('experience')"
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
    [style.color]="sectionService.activeSection() === 'experience' ? '#E85D04' : null"
    [class.translate-x-2]="sectionService.activeSection() === 'experience'"
  >
    EXPERIENCE
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>


  <button
    (click)="scrollTo('projects')"
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
    [style.color]="sectionService.activeSection() === 'projects' ? '#E85D04' : null"
    [class.translate-x-2]="sectionService.activeSection() === 'projects'"
  >
    PROJECTS
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>


  <button
    (click)="scrollTo('contact')"
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
    [style.color]="sectionService.activeSection() === 'contact' ? '#E85D04' : null"
    [class.translate-x-2]="sectionService.activeSection() === 'contact'"
  >
    CONTACT
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>

</nav>