<nav class="flex flex-col gap-8">

  <button
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
  >
    ABOUT
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>


  <button
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
  >
    EXPERIENCE
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>


  <button
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
  >
    PROJECTS
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>


  <button
    class="group relative text-left text-nav text-xl font-normal transition-all duration-300 hover:text-accent hover:translate-x-2"
  >
    CONTACT
    <span
      class="absolute left-0 -bottom-1 h-px w-0 bg-accent transition-all duration-300 group-hover:w-full"
    ></span>
  </button>

</nav>